<div class="card text-white presentation-card">
    <div class="card-header">
        <h3 class="card-header-title">Test Práctico Front-End</h3>
    </div>
    <div class="card-body">
        <h5 class="card-title">Aspirante: Fatala Carlos Andrés</h5>
        <p class="card-text">Stack tecnológico utilizado:</p>
        <ul class="stack-list">
            <li class="head-stack">
                Cliente:
                <ul class="stack-sublist">
                    <li>
                        Angular
                    </li>
                    <li>
                        HTML
                    </li>
                    <li>
                        SASS/SCSS
                    </li>
                </ul>
            </li>
            <li class="head-stack">
                Servidor:
                <ul>
                    <li>
                        Node
                    </li>
                    <li>
                        Express
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>